@import "base/variables";
@import "normalize";
@include normalize;

// Components
@import "components/footer-bar";
@import "components/tile";
@import "components/hud";

body {
	background-color: #111;
	color: #fff;
	overflow: hidden;
}

h1 {
	margin-top: 0.75em;
	text-align: center;
}