.footerBar {
	background-color: $footer-bg;
	color: $footer-fg;
	text-align: right;
	width: 100%;
	position: fixed;
	bottom: 0;

	p {
		font-size: 12px;
		margin: 0;
		padding: 0.5em 1.5em 0.5em 0;
	}
	
	a {
		text-decoration: none;
		color: gold;
	}
	a:visited {
		color: gold;
	}
	a:hover {
		text-decoration: underline;
	}
}
