.character-attributes {
	margin: 0 auto;
	text-align: center;
	padding-top: 1.2em;
	padding-bottom: 0.75em;
}

.character-attribute {
	padding-right: 20px;
	
	.weapon-atk {
		color: limegreen;
		font-weight: 200;
	}
}

.win-banner {
	margin: 0 auto;
	text-align: center;
	padding-top: 1.2em;
	padding-bottom: 0.75em;
	color: limegreen;
}
.lose-banner {
	margin: 0 auto;
	text-align: center;
	padding-top: 1.2em;
	padding-bottom: 0.75em;
	color: red;
}