.character-attributes {
	margin: 0 auto;
	text-align: center;
	padding-top: 1.2em;
	padding-bottom: 0.75em;
}

.character-attribute {
	padding-right: 20px;
	
	.weapon-atk {
		color: limegreen;
		font-weight: 200;
	}
	
	.low-hp {
		color: red;
	}
}

.win-banner {
	font-size: 3em;
	font-weight: 800;
	margin: 0 auto;
	text-align: center;
	padding-top: 1.2em;
	padding-bottom: 0.75em;
	color: limegreen;
}
.lose-banner {
	font-size: 3em;
	font-weight: 800;
	margin: 0 auto;
	text-align: center;
	padding-top: 1.2em;
	padding-bottom: 0.75em;
	color: red;
}

.end-screen {
	font-size: 2em;
	margin: 0 auto;
	text-align: center;
	padding-top: 1.5em;
	color: white;
}