

table {
	margin: 0 auto;
	border-collapse: collapse;
	border: solid 5px #3f250b; /* Also for debugging purposes */
}
td {
	border: solid 1px black; /* just in for debugging purposes */
	//border: 0;
	background-color: #bbb;
	width: 1em;
	height: 1em;

	&.character-position {
		background-color: #39ff14;
	}
	
	&.wall {
		background-color: #3f250b;
	}
	
	&.outside-los {
		background-color: black;	
	}
	
	&.weapon {
		background-color: gold;
	}
	
	&.monster {
		background-color: red;
	}
	&.potion {
		background-color: #3366ff;
	}
	&.exit {
		background-color: #f5f5dc;
	}
}