

table {
	margin: 0 auto;
	border-collapse: collapse;
	border: solid 3px black; /* Also for debugging purposes */
}
td {
	border: solid 1px black; /* just in for debugging purposes */
	background-color: #bbb;
	width: 1em;
	height: 1em;
}
